<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">
  <title>东农助手</title>
  <link rel="stylesheet" href="/css/ratchet.min.css">
  <link rel="stylesheet" href="/css/ratchet-theme-ios.min.css">
  <link rel="stylesheet" href="/css/ui.css">
  <style>
    * {
      -webkit-tap-highlight-color: rgba(0,0,0,0)
    }
    .bar {
      background-color: #5cb85c
    }
    .title {
      color: #FFFFFF
    }
    #bindBtn {
      width: 94%;
      margin: 10px;
    }
  </style>
</head>
<body>
  <header class="bar bar-nav">
    <h1 class="title">绑定教务账户</h1>
  </header>
  <div class="content">
    <form class="input-group">
      <input id="stuid" type="text" placeholder="学号">
      <input id="pswd" type="password" placeholder="教务处登录密码">
    </form>
    <button id="bindBtn" class="btn btn-positive btn-block btn-outlined">绑定</button>
  </div>
  <script type="text/javascript" src="/js/vendor/ratchet.min.js"></script>
  <script type="text/javascript" src="/js/vendor/zepto.min.js"></script>
  <script type="text/javascript" src="/js/vendor/ui.js"></script>
  <script type="text/javascript" src="/js/jwc-bind.js"></script>
</body>
</html>
