<!DOCTYPE html>
<html>
<head id="head">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-calable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<title> 东农助手</title>

<link rel="stylesheet" name="" type="text/css" href="/public/css/wtg_style.css">
</head>
<body>
<div id="main">
<div class="Fh_hbotno"></div>
<section class="F_homec F_hcmain">
    <% for(var i=0; i<items.length; i++) { %>
        <ul class="Fh_dtlul marg20">
            <li class="F_liti F_green"><%= items[i].kcm || "" %>
            </li>
            <li>
            <strong>成绩：</strong><span> <%= items[i].cj || "" %></span>&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>名次：</strong><span> <%= items[i].mc || "" %></span>
            </li>
            <li>
            <strong>学分：</strong><span> <%= items[i].xf || "" %></span>&nbsp;&nbsp;
            <strong>最高分：</strong><span> <%= items[i].kczgf || "" %></span>&nbsp;&nbsp;
            <strong>平均分：</strong><span> <%= items[i].kcpjf || "" %></span>
            </li>
        </ul>
    <% } %>
</section>
</body>
</html>
