@charset "utf-8";

div, p, dl, dd, h1, h2, h3, h4, h5, h6, a, b, u, em, input, textarea, button, select, form, section, label, span, td, li, nav, footer, body, ul, i {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  padding: 0;
  margin: 0
}
ul, li, ol {
  list-style: none
}
a {
  text-decoration: none;
  color: #333
}
a, img, button {
  -webkit-touch-callout: none
}
a:focus, a:active, a:hover, input, button, textarea {
  outline: 0
}
table {
  border-collapse: collapse
}
body, td, input, textarea, option, select, button {
  font-family: "微软雅黑", helvetica, arial;
  -webkit-text-size-adjust: none;
  font-size: .875rem
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
  display: none
}
body, td, h3 {
  -webkit-user-select: none
}
.clearfix:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both
}
.block {
  display: block
}
body {
  background: #f4f4f4;
  color: #787878;
  position: relative
}
body.nologin {
  padding-bottom: 60px
}
a {
  color: #fa8c13
}
input[type=checkbox], .icon_change, .icon_edit, .icon_left, .icon_right, .icon_back, .his_list a:after, .icon_user, .icon_clock, .icon_user2, .search_ipt {
  background-image: url(../images/icons.png?ver=1);
  background-repeat: no-repeat;
  background-size: 24px auto
}
input[type=checkbox] {
  -webkit-appearance: none;
  border: #b2b2b2 solid 2px;
  width: 24px;
  height: 24px;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 3px;
  margin: -3px 6px 0 0;
  background-color: transparent;
  background-position: 1000px 1000px;
  position: relative
}
input[type=checkbox]:checked {
  background-position: 2px -47px;
  border-color: #7fbc3a
}
input[type=checkbox]:disabled {
  opacity: .2
}
input[type=checkbox]:active {
  background-color: #b2b2b2
}
input[type=radio] {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid #b2b2b2;
  vertical-align: middle;
  margin: -2px 6px 0 0;
  background-color: transparent
}
input[type=radio]:checked {
  border-color: #7fbc3a
}
input[type=radio]:checked:after {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  margin: 3px;
  background: #7fbc3a;
  border-radius: 50%
}
.mb {
  margin-bottom: 15px
}
.wrap {
  width: 100%;
  overflow: hidden
}
.pull_left {
  float: left
}
.pull_right {
  float: right
}
.pull_left:active .icon_left, .pull_right:active .icon_right {
  opacity: .5
}
.text_warning {
  color: #fa8c13
}
.text_warning:active {
  color: #ffbb51
}
.text_error {
  color: #da0000
}
.text_gray {
  color: #b7b7b7
}
.text_lg {
  font-size: 1.25em
}
.text_underline {
  text-decoration: underline
}
.text_bold {
  font-weight: bold
}
.text_label {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  font-style: normal;
  vertical-align: middle;
  border-radius: 2px;
  background: #ccc;
  color: #FFF;
  font-size: 11px;
  margin: -5px 5px 0 0;
  overflow: hidden
}
.text_center {
  text-align: center
}
.text_left {
  text-align: left
}
.text_right {
  text-align: right
}
.span6 {
  width: 50%
}
.icon_change {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
  border: #DDD solid 1px;
  background-position: 4px -245px;
  background-color: #FFF
}
.icon_back {
  display: inline-block;
  width: 45px;
  height: 45px;
  overflow: hidden;
  background-position: 18px -85px
}
.icon_left, .icon_right {
  display: inline-block;
  width: 7px;
  height: 14px;
  overflow: hidden
}
.icon_left {
  background-position: 0 -150px
}
.icon_right {
  background-position: 0 -200px
}
.icon_label {
  position: absolute;
  width: 50px;
  height: 10px;
  text-align: center;
  color: #FFF;
  background: #fa8c13;
  left: -18px;
  top: -4px;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  font-size: 7px;
  line-height: 1.2em;
  padding-top: 10px;
  font-style: normal
}
.icon_user, .icon_user2 {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background-position: 0 -400px
}
.icon_user2 {
  background-position: 0 -350px
}
.icon_edit {
  display: inline-block;
  width: 19px;
  height: 19px;
  background-position: 0 -550px;
  vertical-align: middle;
  margin-top: -3px
}
.icon_sure {
  width: 24px;
  height: 24px;
  display: inline-block;
  position: relative;
  vertical-align: middle
}
.icon_sure:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 10px;
  border: #FFF solid;
  border-width: 0 0 2px 2px;
  -webkit-transform: rotate(-45deg) translate3d(0, 0, 0);
  margin: 2px 0 0 -11px
}
.icon_loading {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../images/waiting_tip.png) no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin-top: -5px;
  -webkit-animation-name: moveWindmill;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-delay: 0;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -moz-animation-name: moveWindmill;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-delay: 0;
  -moz-animation-iteration-count: infinite;
  -moz-animation-play-state: running;
  -ms-animation-name: moveWindmill;
  -ms-animation-duration: 1s;
  -ms-animation-timing-function: linear;
  -ms-animation-delay: 0;
  -ms-animation-iteration-count: infinite;
  -ms-animation-play-state: running;
  animation-name: moveWindmill;
  animation-duration: 1s;
  animation-timing-function: linearanimation-delay:0;
  animation-iteration-count: infinite;
  animation-play-state: running
}
@-webkit-keyframes moveWindmill {
  0% {
    -webkit-transform: rotate(0deg)
  }
  25% {
    -webkit-transform: rotate(90deg)
  }
  50% {
    -webkit-transform: rotate(180deg)
  }
  75% {
    -webkit-transform: rotate(270deg)
  }
  100% {
    -webkit-transform: rotate(360deg)
  }
}
@-moz-keyframes moveWindmill {
  0% {
    -moz-transform: rotate(0deg)
  }
  25% {
    -moz-transform: rotate(90deg)
  }
  50% {
    -moz-transform: rotate(180deg)
  }
  75% {
    -moz-transform: rotate(270deg)
  }
  100% {
    -moz-transform: rotate(360deg)
  }
}
@-ms-keyframes moveWindmill {
  0% {
    -ms-transform: rotate(0deg)
  }
  25% {
    -ms-transform: rotate(90deg)
  }
  50% {
    -ms-transform: rotate(180deg)
  }
  75% {
    -ms-transform: rotate(270deg)
  }
  100% {
    -ms-transform: rotate(360deg)
  }
}
@keyframes moveWindmill {
  0% {
    -ms-transform: rotate(0deg)
  }
  25% {
    -ms-transform: rotate(90deg)
  }
  50% {
    -ms-transform: rotate(180deg)
  }
  75% {
    -ms-transform: rotate(270deg)
  }
  100% {
    -ms-transform: rotate(360deg)
  }
}
.icon_clock {
  display: inline-block;
  width: 14px;
  height: 14px;
  overflow: hidden;
  background-position: 0 -600px;
  vertical-align: middle
}
.icon_remove {
  display: block;
  width: 13px;
  height: 13px;
  display: inline-block;
  position: relative
}
.icon_remove:before, .icon_remove:after {
  content: '';
  position: absolute;
  width: 17px;
  height: 1px;
  left: 50%;
  margin: -1px 0 0 -9px;
  background: #787878;
  top: 50%
}
.icon_remove:before {
  -webkit-transform: rotate(45deg)
}
.icon_remove:after {
  -webkit-transform: rotate(-45deg)
}
.header {
  width: 100%;
  height: 45px;
  line-height: 45px;
  position: relative;
  overflow: hidden;
  background: #fa8c13;
  color: #FFF;
  font-size: .75rem;
  text-align: center
}
.h_l, .h_r {
  position: absolute;
  top: 0;
  white-space: nowrap
}
.h_l {
  left: 15px
}
.h_r {
  right: 15px
}
.h_t {
  font-size: 1.0625rem
}
.h_l a {
  padding-right: 1.2rem;
  text-align: left
}
.h_r a {
  padding-left: 1.2rem;
  text-align: right
}
.h_l a.logo {
  display: block;
  width: 122px;
  height: 26px;
  overflow: hidden;
  background: url(../images/logo.png) no-repeat;
  background-size: 122px 26px;
  margin: 10px 0 0;
  padding: 0
}
.h_r a:active .icon_user, .h_l:active .logo {
  opacity: .5
}
.h_r_text {
  padding: 8px 0 3px 0;
  text-align: right;
  line-height: 16px
}
.header .icon_back {
  margin-left: -15px
}
.header a {
  color: #FFF;
  font-size: .875rem;
  display: block
}
.header a:active {
  color: #e3e3e3
}
.box_insert {
  background: #FFF;
  border-bottom: #ddd solid 1px;
  padding: 0 15px
}
#open_filter {
  color: #787878
}
#open_filter:active {
  color: #666;
  background: rgba(200, 200, 200, .1);
  border-radius: 3px
}
#open_filter:active .pull_right {
  opacity: 0
}
#loginForm .text_warning {
  display: inline-block;
  height: 20px;
  padding: 5px 10px;
  margin-right: -10px
}
#loginForm .form_btns {
  margin: 10px 0
}
.form_btns {
  margin: 15px 0
}
.form_line {
  padding: 5px 0;
  min-height: 40px;
  line-height: 40px;
  border-bottom: #ddd solid 1px
}
.form_border {
  border-bottom: #ddd solid 1px;
  padding: 5px 0
}
.form_line.text_center label {
  margin: 0 18px
}
.form_label {
  display: inline-block;
  width: 86px;
  float: left
}
.form_btns label, .form_line label {
  display: inline-block;
  text-align: left
}
#loginForm .form_btns label, #loginForm .form_line label {
  display: inline-block;
  text-align: left;
  width: 46px;
  padding-left: 20px;
  padding-right: 10px
}
.ipt_wrap {
  position: relative;
  overflow: hidden
}
.ipt_wrap .ipt {
  position: relative;
  width: 100%;
  padding: 10px 0;
  height: 20px;
  border: 0;
  margin: 0
}
.form_cardimg {
  float: right;
  width: 90px;
  overflow: hidden;
  margin: 7px 0 0 10px;
  text-align: center;
  vertical-align: middle
}
.form_cardimg img {
  max-width: 100%
}
.btn {
  height: 40px;
  padding: 0 1em;
  -webkit-box-sizing: border-box;
  line-height: 40px;
  background: #ffbb51;
  border: 0;
  margin: 0;
  display: inline-block;
  border-radius: 3px;
  font-size: 1.1875rem;
  color: #FFF;
  text-align: center;
  position: relative;
  overflow: hidden
}
.btn_block {
  display: block;
  width: 100%
}
.btn_lg {
  height: 45px;
  line-height: 45px
}
.btn_m {
  height: 30px;
  line-height: 30px;
  font-size: .75rem
}
.btn_success {
  background: #fa8c13
}
.btn_success:active {
  background: #fa7a13
}
.btn_gray {
  background: #b5b5b5
}
.btn_gray:active {
  background: #b5b5b5
}
.box {
  padding: 10px 15px
}
.towbtn {
  white-space: nowrap
}
.towbtn .btn {
  width: 48%;
  margin-right: 4%;
  -webkit-box-sizing: border-box;
  background: #f4f4f4;
  color: #fa8c13;
  border: 1px solid #fa8c13
}
.paid_share {
  background: #fa8c13;
  height: 25px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 25px;
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 10px
}
.footer_tip {
  margin-top: 90px;
  font-size: .75rem
}
#remind_page .footer_tip {
  margin-top: 70px
}
.station {
  position: relative;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #DDD
}
.station:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both
}
.station_t {
  color: #CCC
}
.start_station, .end_station {
  float: left;
  width: 50%;
  overflow: hidden;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
.start_station {
  border-right: 1px solid #DDD;
  padding-right: 10px
}
.end_station {
  padding-left: 10px
}
#exchange {
  position: absolute;
  left: 50%;
  width: 22px;
  height: 22px;
  padding: 20px;
  top: 50%;
  margin-left: -33px;
  margin-top: -24px;
  display: block
}
#exchange:active {
  background: rgba(200, 200, 200, .1);
  border-radius: 50%
}
#exchange:active .icon_change {
  border: 1px solid rgba(199, 199, 199, .1);
  background-color: rgba(199, 199, 199, .5)
}
.station_city {
  padding: 30px 0;
  font-size: 1.5rem;
  color: #000;
  position: relative
}
.station_city:active {
  background: rgba(200, 200, 200, .1);
  border-radius: 3px
}
#query_page .station_city:after, #remind_page .station_city:after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background: url(../images/icons.png?ver=1) no-repeat 0 -700px;
  background-size: 24px auto;
  left: 50%;
  bottom: 0;
  margin: 0 0 0 -7px
}
.check_date {
  height: 65px;
  overflow: hidden
}
.start_date {
  display: block;
  overflow: hidden;
  text-align: center;
  line-height: 26px;
  padding: 5px 0;
  font-size: 1.0625rem
}
.check_left, .check_right {
  width: 40px;
  height: 40px;
  text-align: center
}
.check_left {
  text-align: left
}
.check_right {
  text-align: right
}
.his_title {
  height: 30px;
  text-align: center
}
.his_list li {
  border-top: 1px solid #cacaca
}
.check_right:active, .check_left:active {
  background: rgba(200, 200, 200, .1)
}
.check_right:active .icon_right {
  opacity: .5
}
.check_left:active .icon_left {
  opacity: .5
}
.his_title {
  text-align: center
}
.his_list a {
  display: block;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  position: relative;
  color: #787878
}
.his_list a span {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box
}
.his_list a span:first-child {
  text-align: right;
  padding-right: 17px
}
.his_list a span:last-child {
  padding-left: 17px
}
.his_list a:after {
  width: 16px;
  height: 8px;
  position: absolute;
  content: '';
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  background-position: 0 -300px
}
.public_layer {
  position: fixed;
  height: 100%;
  z-index: 9999;
  background: rgba(0, 0, 0, .2);
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden
}
.public_pop {
  position: fixed;
  width: 270px;
  left: 50%;
  margin-left: -135px;
  top: 40%;
  margin-top: -50px;
  background: rgba(255, 255, 255, .95);
  border-radius: 7px;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  opacity: 0;
  -webkit-transition-duration: .1s, .1s;
  -webkit-transition-timing-function: linear, linear;
  -webkit-transition-property: -webkit-transform, opacity
}
.public_pop_show {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.public_pop p {
  padding: 15px 20px;
  text-align: center;
  line-height: 2em;
  font-size: 1em
}
.public_btns {
  height: 45px;
  -webkit-box-flex: .0;
  display: -webkit-box;
  border-top: #dfdfdf solid 1px
}
.public_btns a {
  display: block;
  -webkit-box-flex: 1.0;
  text-align: center;
  line-height: 44px;
  color: #007aff;
  border-right: #dfdfdf solid 1px;
  width: 50%
}
.public_btns a.active {
  background: rgba(200, 200, 200, .05)
}
.public_btns a:last-child {
  border-right: 0 none
}
.public_btns a[data-val="cancel"] {
  color: #333
}
.public_toast {
  padding: 5px 10px;
  border-radius: 3px;
  background: rgba(0, 0, 0, .7);
  position: fixed;
  left: 50%;
  bottom: 20px;
  max-width: 150px;
  z-index: 9999;
  color: #FFF;
  font-size: 12px;
  -webkit-transform: translate3d(-50%, 100%, 0);
  opacity: 0;
  transition: all linear .1s
}
.public_toast_show {
  opacity: 1;
  -webkit-transform: translate3d(-50%, 0, 0)
}
.fixed_box {
  position: relative;
  background: #f4f4f4;
  width: 100%;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
  opacity: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: none
}
.nologin .fixed_box {
  padding-bottom: 60px
}
.fixed_box_show {
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  opacity: 1;
  transition: -webkit-transform ease .3s, opacity ease .3s;
  display: block
}
#calendar {
  background: #FFF;
  border-bottom: #ddd solid 1px
}
.date_title {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: .9375rem
}
.date_prev, .date_next {
  width: 40px
}
.date_prev {
  float: left
}
.date_next {
  float: right
}
.date_component {
  width: 100%
}
.date_component th {
  font-size: .5625rem;
  border-bottom: 1px solid #ddd
}
.date_component td, .date_component td a {
  color: #8d99a6;
  text-align: center
}
.date_component td {
  padding: 4px 3px
}
.date_component td a {
  display: block;
  width: 37px;
  height: 34px;
  overflow: hidden;
  border-radius: 50%;
  font-size: .875rem;
  margin: 0 auto;
  padding: 3px 0 0;
  color: #009cff;
  background: #e5f5ff
}
.remind_data .date_component td a {
  background: #fff3d9;
  color: #ffa200
}
.date_component td span {
  display: block;
  color: #8d99a6;
  font-size: .4375rem
}
.date_component td a.remind {
  background: #fff3d9;
  color: #ffa200
}
.date_component td a.cur {
  background: #fa8c13;
  color: #FFF
}
.date_component td a.cur span {
  color: #FFF
}
.date_component td a.disable {
  color: #ddd;
  background: 0
}
.date_component td a.disable span {
  color: #ddd
}
.remind_data .date_component td a.remind, .remind_data .date_component td a.remind.cur, .remind_data .date_component td a.remind.cur span {
  color: #8d99a6;
  background: 0
}
#remind_form div:nth-child(3) {
  margin-top: 10px
}
.label_sale, .label_remind {
  margin-right: 23px
}
.label_sale {
  color: #009cff
}
.label_remind {
  color: #ffae00
}
.label_sale:before, .label_remind:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: -2px 7px 0 0;
  vertical-align: middle
}
.label_sale:before {
  background: #aad9f7
}
.label_remind:before {
  background: #f7dfaa
}
.form_title {
  font-size: .75rem;
  line-height: 2.5em;
  padding: 0 1.375em;
  background: #f4f4f4;
  border-bottom: #ddd solid 1px
}
.box_insert .form_title {
  background: #FFF
}
.query_box {
  padding: 8px 15px
}
.query_checkbox {
  display: inline-block;
  width: 33.333333%;
  height: 24px;
  padding: 7px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
}
.query_checkbox:active {
  color: #666
}
.query_checkbox input[type=checkbox] {
  margin: 0 6px 0 0
}
.query_checkbox2 {
  width: 66.666666%
}
.query_bigcheck {
  width: 18.27586206896552%;
  -webkit-box-sizing: border-box;
  display: inline-block;
  height: 50px;
  overflow: hidden;
  position: relative;
  margin: 8px 1.724137931034483% 8px 0;
  vertical-align: top
}
.query_bigcheck input {
  display: block;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  -webkit-box-sizing: border-box;
  position: absolute;
  border: 0;
  border-radius: 3px
}
.query_bigcheck input:checked {
  background: 0
}
.query_bigcheck input:checked:before, .query_bigcheck input:checked:after {
  display: none
}
.query_bigcheck span {
  display: block;
  text-align: center;
  -webkit-box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
  border: #b2b2b2 solid 1px;
  font-size: .75rem;
  line-height: 1em;
  padding: 5px 0
}
.query_bigcheck span.bfont {
  font-size: .9375rem;
  line-height: 40px
}
.query_bigcheck_checked span {
  background: #fa8c13;
  color: #FFF;
  border-color: #fa8c13
}
.train_labels {
  padding-top: 5px
}
.query_box .form_line {
  border-bottom: 0;
  padding-bottom: 5px;
  padding-top: 0;
  min-height: 30px
}
.query_box .form_line a.block {
  height: 30px;
  line-height: 30px;
  color: #787878;
  border: #b2b2b2 solid 1px;
  padding: 3px 10px;
  border-radius: 3px
}
.query_box .form_line a.block:active {
  background: #dcdcdc
}
.query_box .form_line a.block .icon_right {
  vertical-align: middle;
  margin-top: -2px
}
.bottom_tip {
  position: fixed;
  width: 100%;
  height: 57px;
  left: 0;
  bottom: 0;
  display: none;
  overflow: hidden;
  z-index: 9999
}
.bottom_tip a {
  display: block;
  background: rgba(0, 0, 0, .8);
  padding: 1.3em 1em;
  font-size: .9375rem;
  color: #FFF;
  position: relative
}
#login_tip a:after {
  content: "登录";
  position: absolute;
  right: 1em;
  background: #fa8c13;
  padding: 0 1.5em;
  height: 2em;
  line-height: 2em;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  border-radius: 3px
}
#login_tip a:active:after {
  background: #fa7a13
}
.top_menu {
  top: 45px;
  bottom: 0;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .5);
  display: none;
  z-index: 999
}
.showBanner .top_menu {
  top: 95px
}
.link_list {
  padding: 0 15px;
  background: #f4f4f4;
  border-bottom: #cacaca solid 1px;
  position: relative
}
.link_list:before {
  content: '';
  border: solid;
  border-color: transparent transparent #f4f4f4 transparent;
  border-width: 0 8px 8px 8px;
  position: absolute;
  top: -8px;
  right: 19px
}
.link_list li {
  line-height: 44px;
  border-bottom: #ddd solid 1px;
  position: relative
}
.link_list li:last-child {
  border-bottom: 0
}
.link_list .form_label {
  float: none
}
.link_list a {
  display: block;
  text-align: center;
  font-size: 1.0625rem;
  color: #787878;
  line-height: 2.647058823529412em
}
.link_list a:active {
  background: rgba(150, 150, 150, .1)
}
.link_list a.text_error {
  color: #da0000
}
.link_list li input {
  display: inline-block;
  margin: -3px 6px 0 15px
}
.link_list li span {
  display: inline-block;
  white-space: nowrap
}
.link_list li span:nth-of-type(1) {
  width: 25%
}
.link_list li span:nth-of-type(2) {
  width: 45%;
  text-align: center
}
.link_list li span:nth-of-type(3) {
  width: 25%;
  text-align: right
}
.tip_small {
  position: absolute;
  display: none;
  -webkit-transform: translate3d(-50%, -100%, 0);
  background: rgba(0, 0, 0, .8);
  color: #FFF;
  font-size: .75rem;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  margin: -7px 0 0 18px
}
.tip_left {
  -webkit-transform: translate3d(0, -100%, 0);
  margin: -7px 0 0 0
}
.tip_right {
  -webkit-transform: translate3d(-100%, -100%, 0);
  margin: -7px 0 0 37px
}
.tip_small:after {
  content: '';
  width: 0;
  height: 0;
  overflow: hidden;
  border: solid;
  border-color: rgba(0, 0, 0, .8) transparent transparent transparent;
  border-width: 7px 7px 0 7px;
  position: absolute;
  bottom: -7px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0)
}
.tip_left:after {
  left: 18px
}
.tip_right:after {
  left: auto;
  right: 18px;
  -webkit-transform: translate3d(50%, 0, 0)
}
.tip_small p {
  margin-bottom: 10px;
  white-space: nowrap
}
.search_box {
  padding: 1px 0 1px 10px
}
.search_box a {
  font-size: 1rem
}
.search_box:before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  clear: both
}
.search_cancel {
  float: right;
  width: 4em;
  text-align: center
}
.search_ipt {
  overflow: hidden;
  height: 29px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .8);
  padding-left: 30px;
  background-position: 8px -443px;
  margin-top: 8px
}
.search_input {
  width: 100%;
  border: 0;
  font-size: .9375rem;
  height: 29px;
  padding: 5px 0;
  vertical-align: top;
  background: 0;
  color: #666
}
.search_input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, .2)
}
.station_list {
  overflow: hidden
}
.station_list:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both
}
.station_list li {
  float: left;
  display: inline;
  width: 33.333333%;
  font-size: 1.0625rem;
  position: relative;
  border-bottom: #ddd solid 1px;
  margin-bottom: -1px
}
.station_list li:after {
  content: '';
  display: block;
  right: 0;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  border-right: #cacaca solid 1px;
  height: .9em;
  position: absolute
}
.station_list li:nth-child(3n):after {
  display: none
}
.station_list li a {
  display: block;
  line-height: 2.617647058823529em;
  text-align: center;
  color: #787878
}
.station_list li a:active {
  background: rgba(100, 100, 100, .1)
}
#search_station .form_title {
  text-align: center;
  font-size: 1rem
}
#station_hisbox .form_title {
  background-color: #FFF
}
#station_hisbox .title_right {
  display: block;
  height: 40px;
  width: 24px;
  padding-left: 30px;
  position: absolute;
  right: 11px;
  line-height: 40px
}
#station_hisbox .title_right:active {
  opacity: .5
}
.icon_remove_b {
  background-image: url(../images/icons.png?ver=1);
  height: 30px;
  width: 24px;
  display: block;
  background-position: 3px -490px;
  margin-top: 2px;
  background-size: 100%
}
.suggest {
  position: absolute;
  left: 0;
  top: 45px;
  bottom: 0;
  right: 0;
  display: none;
  background: rgba(0, 0, 0, .5)
}
.suggest ul {
  height: 225px;
  overflow: auto;
  background: #FFF;
  padding: 0 15px;
  background: #FFF
}
.suggest ul li {
  border-bottom: #ddd solid 1px
}
.suggest ul li a {
  display: block;
  font-size: 1.0625rem;
  color: #787878;
  line-height: 2.617647058823529em
}
.station_title {
  text-align: center;
  padding: 5px 0
}
.station_title strong {
  display: block;
  font-size: 1.0625rem;
  line-height: 1em;
  margin-bottom: 3px
}
.station_title span {
  display: block;
  line-height: 1em;
  font-size: .75rem;
  color: #ffd7aa
}
.date_title {
  height: 34px;
  line-height: 34px;
  background: #f4f4f4
}
.date_title strong {
  font-weight: lighter
}
.next_btn, .prev_btn {
  color: #787878;
  font-size: .75rem
}
.next_btn.disable, .prev_btn.disable {
  color: #cacaca
}
.prev_btn {
  float: left;
  padding: 0 0 0 10px
}
.next_btn {
  float: right;
  padding: 0 10px 0 0
}
.next_btn i, .prev_btn i {
  vertical-align: middle;
  margin: -2px 5px 0
}
.train_list li {
  margin-bottom: 7px;
  border: #ddd solid;
  border-width: 1px 0;
  background: #FFF;
  padding: 0 15px;
  font-size: .75rem
}
.train_list li.rec_title {
  text-align: center;
  font-size: 16px;
  color: #fa8c13;
  margin: 0;
  line-height: 40px;
  border-bottom: 0
}
.line {
  line-height: 24px;
  padding: 5px 0;
  border-bottom: #cacaca solid 1px
}
.line:after, .line a.block:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  clear: both
}
.line a.block {
  color: #787878
}
.line.no_border, .train_list li .line:last-child {
  border: 0 none
}
.line .btn {
  font-size: .9375rem;
  height: 24px;
  line-height: 24px;
  padding: 0 11px;
  vertical-align: middle;
  margin-left: 15px
}
.line span {
  display: inline-block;
  vertical-align: middle
}
.link_label {
  display: inline-block;
  width: 55px;
  overflow: hidden;
  vertical-align: middle
}
.loadingBox {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .2)
}
.loading {
  max-width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  padding: 10px;
  background: rgba(0, 0, 0, .5);
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, .3);
  color: #FFF;
  white-space: nowrap
}
.form_title+.box {
  padding-top: 0
}
.info {
  margin: 5px 0;
  background: #FFF
}
.info_title {
  padding: 0 10px;
  font-size: .9375rem;
  color: #FFF;
  background: #fa8c13;
  line-height: 2.2em
}
.stations_info {
  padding: 15px
}
.stations_info:after {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  overflow: hidden;
  clear: both
}
.station_info {
  float: left;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  font-size: .9375rem;
  position: relative
}
.station_info:first-child {
  border-right: 1px solid #ddd
}
.station_info:first-child:after {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  top: 50%;
  right: 0;
  margin: -5px -6px 0 0;
  border: #ddd solid;
  border-width: 0 1px 1px 0;
  background: #FFF;
  -webkit-transform: rotate(-45deg)
}
.station_info strong {
  display: block;
  font-size: 1.4375rem;
  color: #000;
  margin-bottom: 8px;
  font-weight: lighter
}
.passenger {
  border: #ddd solid;
  border-width: 1px 0;
  margin-bottom: 15px
}
.passenger_list {
  padding: 0 15px;
  background: #FFF
}
.passenger_list li {
  border-bottom: #ddd solid 1px;
  padding: 5px 0;
  font-size: .75rem
}
.passenger_list li#passenger_editinfo {
  border-bottom: 0
}
.passenger_list li .pull_left {
  line-height: 1.5em;
  color: #b7b7b7
}
.passenger_list li .pull_left strong {
  font-size: .9375rem;
  margin-right: 5px;
  color: #787878
}
.passenger_list li .pull_right {
  line-height: 3em
}
.add_block {
  display: block;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: .9375rem;
  color: #787878;
  background: #FFF
}
.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
  display: none
}
#edit_menu {
  position: absolute;
  width: 100%;
  margin-top: -1px;
  display: none
}
.seat {
  color: #787878
}
#edit_seat, #edit_ticket {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  display: none
}
#edit_seat .link_list:before, #edit_ticket .link_list:before, #banks .link_list:before {
  display: none
}
#edit_seat .link_list li a {
  text-align: left
}
#trains_box .link_list {
  padding: 0
}
#trains_box .link_list a {
  font-size: .85rem;
  padding: 0 15px
}
#trains_box .link_list a.cur {
  background: #fa8c13;
  color: #FFF
}
.trains_title {
  line-height: 28px;
  background: #f4f4f4;
  color: #787878;
  white-space: nowrap
}
#trainList:before {
  display: none
}
.trains_title span, .trains_title li span {
  display: inline-block
}
.trains_title span:nth-child(1), .trains_title li span:nth-child(1) {
  width: 25%;
  text-align: center
}
.trains_title span:nth-child(2), .trains_title li span:nth-child(2) {
  width: 45%;
  text-align: center
}
.trains_title span:nth-child(3), .trains_title li span:nth-child(3) {
  width: 25%;
  text-align: center
}
.train_label {
  display: inline-block;
  background: #efefef;
  border: #ddd solid 1px;
  color: #787878;
  position: relative;
  border-radius: 3px;
  padding: 0 15px 0 5px;
  margin: 0 10px 10px 0
}
.train_label:before, .train_label:after {
  content: '';
  display: block;
  width: 1px;
  height: 10px;
  overflow: hidden;
  right: 7px;
  background: #bbb;
  position: absolute;
  top: 50%;
  margin-top: -4px
}
.train_label:before {
  -webkit-transform: rotate(45deg)
}
.train_label:after {
  -webkit-transform: rotate(-45deg)
}
.pull_down_notice {
  -webkit-transform: rotate(90deg)
}
#train_num {
  border: 0;
  font-size: .7375rem;
  height: 29px;
  padding: 5px 0;
  vertical-align: top;
  background: 0;
  color: #333;
  text-align: center
}
#autoTip, #noTicket, #noLoginTip {
  display: none
}
.page_tip {
  text-align: center;
  padding: 50px 0
}
.page_tip p {
  font-size: 1rem;
  margin: 2em 0
}
.page_tip .btn {
  width: 190px
}
#refresh_train {
  display: none
}
.rf_train {
  background: #FFF;
  padding-top: 10px;
  border: #ddd solid;
  border-width: 1px 0
}
.rf_icon {
  width: 54px;
  height: 33px;
  overflow: hidden;
  float: left;
  margin: 10px 20px 0 37px;
  background: url(../images/ticket.png) no-repeat;
  background-size: contain
}
.rf_text {
  overflow: hidden
}
.rf_title {
  font-size: 1rem;
  color: #fa8c13;
  line-height: 2em
}
.rf_desc {
  font-size: .75rem
}
.rf_btn {
  padding: 15px 0;
  text-align: center
}
.rf_btn .btn {
  width: 180px
}
#code_layer .public_pop {
  padding-top: 5px;
  text-align: center
}
#code_layer .form_line {
  padding: 0 10px
}
.orders {
  overflow: hidden;
  margin: 0 auto
}
.orders_title {
  width: 290px;
  padding: 10px 5px 20px;
  background: url(../images/ticket_title.png) no-repeat center bottom;
  background-size: 300px auto;
  position: relative;
  z-index: 5;
  margin: 0 auto
}
.order_tickets {
  position: relative;
  z-index: 4
}
.order_tickets .ticket {
  width: 262px;
  height: 162px;
  padding: 8px 19px 5px;
  background: url(../images/ticket_bg.png) no-repeat center top;
  background-size: 300px auto;
  margin: -10px auto 5px;
  position: relative
}
.ticket_title {
  color: #b7b7b7;
  font-size: .75rem;
  height: 1rem;
  overflow: hidden
}
.ticket .stations_info {
  padding: 15px 0;
  height: 58px;
  overflow: hidden
}
.ticket_passenger {
  height: 25px;
  overflow: hidden;
  font-size: .75rem
}
.ticket_passenger strong {
  margin-right: 7px;
  font-size: 1rem
}
.ticket_info {
  line-height: 32px;
  font-size: .9375rem;
  color: #fa8c13
}
.order_pay_info {
  background: rgba(0, 0, 0, .8);
  padding: 0 15px 10px
}
.order_pay_info p {
  color: #9f9f9f;
  font-size: 1rem
}
.order_pay_info .pay_time {
  color: #fa8c13;
  font-size: 1.4375rem;
  margin: 0 7px
}
.pay_info {
  line-height: 2.0625rem;
  margin-top: 6px
}
.pay_info .btn {
  font-size: 1rem;
  line-height: 2.0625rem;
  height: auto
}
.pay_money {
  color: #FFF;
  font-size: 1.4375rem
}
#banks .link_list {
  border-bottom: 0
}
#banks .link_list li:first-child {
  border-top: #cacaca solid 1px
}
#banks .link_list li:last-child {
  border-bottom: #cacaca solid 1px
}
.pay_tip_info {
  padding: 15px 15px 40px
}
.myremind_list li {
  background: #FFF;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  margin-bottom: 10px
}
.mr_title {
  font-size: 1rem
}
.mr_title .icon_clock {
  margin: -2px 8px 0 0
}
.myremind_list .stations_info {
  padding: 15px 0
}
.mr_text {
  font-size: 1rem
}
.list_tip {
  display: block;
  text-align: center;
  line-height: 20rem;
  font-size: 1.8rem
}
.passed_title, .passed_list {
  padding: 0 15px 0 30px;
  white-space: nowrap
}
.passed_title {
  line-height: 28px;
  background: #f4f4f4;
  color: #787878
}
.passed_list {
  background: #FFF
}
.passed_list li {
  line-height: 44px;
  border-bottom: #ddd solid 1px;
  position: relative
}
.passed_list li.passed_no, .passed_list li.passed_after {
  color: #d7d7d7
}
.passed_title span, .passed_list li span {
  display: inline-block
}
.passed_title span:nth-child(1), .passed_list li span:nth-child(1) {
  width: 34.18181818181818%
}
.passed_title span:nth-child(2), .passed_list li span:nth-child(2) {
  width: 25.09090909090909%
}
.passed_title span:nth-child(3), .passed_list li span:nth-child(3) {
  width: 22.72727272727273%
}
.passed_title span:nth-child(4), .passed_list li span:nth-child(4) {
  width: 18%;
  text-align: right
}
.passed_list li.passed_start span:nth-child(1), .passed_list li.passed_start span:nth-child(3), .passed_list li.passed_end span:nth-child(2), .passed_list li.passed_end span:nth-child(1) {
  color: #fa8c13
}
.passed_list li.passed_start:before, .passed_list li.passed_start:after, .passed_list li.passed_end:before, .passed_list li.passed_end:after, .passed_list li.passed:before {
  content: '';
  position: absolute
}
.passed_list li.passed:before {
  border-left: #fa8c13 dashed 1px;
  top: 0;
  bottom: 0;
  left: 0;
  margin-left: -16px
}
.passed_list li.passed_start:before {
  border-left: #fa8c13 dashed 1px;
  top: 50%;
  bottom: 0;
  left: 0;
  margin-left: -16px;
  margin-top: 8px
}
.passed_list li.passed_start:after {
  width: 14px;
  height: 17px;
  background: url(../images/icons.png?ver=1) no-repeat 0 -650px;
  background-size: 24px auto;
  left: 0;
  top: 50%;
  margin: -8px 0 0 -22px
}
.passed_list li.passed_end:before {
  border-left: #fa8c13 dashed 1px;
  top: 0;
  bottom: 50%;
  left: 0;
  margin-left: -16px
}
.passed_list li.passed_end:after {
  width: 11px;
  height: 11px;
  border: #FFF solid 1px;
  background: #fa8c13;
  box-shadow: 0 0 1px #fa8c13;
  border-radius: 50%;
  left: 0;
  top: 50%;
  margin: -7px 0 0 -22px
}
#order_list_page {
  padding-bottom: 50px
}
.order_list {
  padding: 10px 15px 15px
}
.order_list li {
  background: #FFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  margin-bottom: 15px
}
.order_list li .order_info {
  padding: 0 10px;
  line-height: 2em
}
.order_ticket {
  text-align: center;
  font-size: 1.25rem;
  color: #000;
  line-height: 2em
}
.order_fn {
  font-size: 1.25rem;
  line-height: 2.1em;
  padding: 0 10px;
  background: #f9f9f9;
  position: relative
}
.order_fn .btn {
  vertical-align: middle;
  margin: -5px 0 0 5px
}
.delivered {
  position: absolute;
  width: 55px;
  height: 55px;
  right: 80px;
  bottom: 20px;
  background: url(../images/pay.png) no-repeat;
  background-size: cover
}
.order_tips {
  padding: 10px 15px 0;
  font-size: 12px;
  color: #b7b7b7
}
.order_tips a {
  text-decoration: underline
}
.order_tips a.btn {
  text-decoration: none;
  vertical-align: middle;
  height: 24px;
  line-height: 24px;
  margin-top: -2px
}
.update_notice {
  width: 100%
}
.update_notice img {
  width: 100%;
  height: 50px;
  vertical-align: top
}
.order_bottom {
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .8);
  position: fixed
}
#rec_list {
  margin-top: 15px
}
