<!DOCTYPE html>
<html>

<head id="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8" />
    <meta name="viewport" id="V" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />
    <title>东农助手</title>
    <link rel="stylesheet" name="" type="text/css" href="/assets/res/style.css" />
</head>

<body>
  <div id="main">
    <div class="Fh_hbotno"></div>
    <section class="F_homec F_hcmain">
        <ul class="Fh_dtlul marg20">
            <li class="F_liti F_green"><%= title%>
            <input id="orderId" type="hidden" value="">
            </li>
            <li>
              <strong><%= content%></strong>
            </li>

        </ul>
    </section>
  </div>
</body>

</html>