<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no, minimal-ui">
  <meta name="format-detection" content="telephone=no">
  <title>东农助手</title>
  <link rel="stylesheet" href="/css/ratchet.min.css">
  <link rel="stylesheet" href="/css/ratchet-theme-ios.min.css">
  <style>
    * {
      -webkit-tap-highlight-color: rgba(0,0,0,0)
    }
    .bar {
      background-color: #5cb85c
    }
    .title {
      color: #FFFFFF
    }
  </style>
</head>
<body>
  <header class="bar bar-nav">
    <h1 class="title">充值信息</h1>
  </header>
  <div class="content">
    <div style="margin-top: 10px">
      <h3 style="text-align: center">充值账号：<%= stuid%></h3>
      <h5>支付成功后最晚10分钟内到帐，充值相应金额到你的锐捷账户，客服电话在“东农助手”第一栏菜单里</h5>
    </div>
    <ul class="table-view">
      <li class="table-view-cell">充值50元<a href="http://wap.koudaitong.com/v2/showcase/goods?alias=m5dvhdj3&showsku=true" class="btn btn-positive">立即购买</a></li>
      <li class="table-view-cell">充值30元<a href="http://wap.koudaitong.com/v2/showcase/goods?alias=1d5wt53ou&showsku=true" class="btn btn-positive">立即购买</a></li>
      <li class="table-view-cell">充值20元<a href="http://wap.koudaitong.com/v2/showcase/goods?alias=dnxa1o6c&showsku=true" class="btn btn-positive">立即购买</a></li>
    </ul>
  </div>
</body>
</html>
